<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advance Travel</title>
    <link rel="stylesheet" href="resources/css/barranav.css">
    <link rel="stylesheet" href="resources/css/footer.css">
    <link rel="icon" href="resources/img/Logo.png">
</head>

<body>
    <nav>
        <div class="nav-container">
            <a href="/">
                <img id="nav-logo" src="resources/img/twitter.png" alt="" width="30" height="24">
            </a>

            <div id="nav-right">
                <a id="nav-botton" href="/">
                    Inicio
                </a>
                <a id="nav-botton" href="/rutas">
                    Rutas
                </a>
                <a id="nav-botton" href="/signin">
                    Login / Register
                </a>
            </div>
        </div>
    </nav>

    <footer>
        <seccion class="seccion_footer1">
            <img src="resources/img/Logo2.png" alt="Logo">
            <p>
                Buses S.A. Empresa de servico de transporte de buces desde hace muchos años.
            </p>
            <p>
                Vigilado Super intendencia de transporte y el gobierno ncional.
            </p>
            <ul class="social-icons" id="ul_footer">
                <li class="icon" id="li_footer"><a href="click"><img src="resources/img/facebook.png"
                            alt="Logo de Instagram" class="icon_logo" width="30px"></img></a></li>
                <li class="icon" id="li_footer"><a href="click"><img src="resources/img/instagram.png"
                            alt="Logo de Instagram" class="icon_logo" width="30px"></img></a></li>
                <li class="icon" id="li_footer"><a href="click"><img src="resources/img/twitter.png"
                            alt="Logo de Instagram" class="icon_logo" width="30px"></img></a></li>
                <li class="icon" id="li_footer"><a href="click"><img src="resources/img/youtube.png"
                            alt="Logo de Instagram" class="icon_logo" width="30px"></img></a></li>
            </ul>
        </seccion>
    </footer>
</body>

</html>