/*.nav-logo {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 700%;
    background: #ffffff;
    color: #fdf4f4;
    margin-right: 12px;
}

footer {
    background: #0060cc;
    color: white;
    height: 600px;
    line-height: 20px;
}

seccion1 {
    text-align: justify;
    font-size: 10px;
    min-height: 100%;
    width: 250px;
    float: left;
    margin-right: 25px;
}
seccion2  {
    text-align: justify;
    font-size: 10px;
    min-height: 100%;
    width: 350px;
    float: left;
    margin-right: 25px;
}
seccion3  {
    text-align: justify;
    font-size: 10px;
    min-height: 100%;
    width: 250px;
    float: left;
    margin-right: 25px;
}
seccion4  {
    text-align: justify;
    font-size: 10px;
    min-height: 100%;
    width: 250px;
    float: left;
    margin-right: 25px;
}

#ul_footer #li_footer {
    list-style: none;
    float: left;
    padding-left: 0px;
    margin-left: 0px;
}*/ 